.background-color{
    height:100vh;
    /*imitation for up-down gradient*/
    background-image: linear-gradient(to bottom,#603F8B 5%,#754C73 20%,#634878 40%,#210A51 85%);
}

.text {
    color:#EADAFF;
}
.icon{
    position: relative;
    left:6%;
    top:25%;
}
.header{
    min-height:20vh;
    width:100vw;
    padding:0;
    margin:0;
    border:0;
}

.search_row{
    height:5vh;
    width:100vw;
}

.search_bar{
        display:block;
        height:2vh;
        width:100%;
        fill:#C9ACDF;
}
.search_result{
    display: block;
    height:20vh;
    width: 75vw;
    fill:black;
}
.tag_elem{
    display: inline;
    height:2vh;
    width: 10vw;
    fill:black;
}

